<div>
	<img src="http://orig07.deviantart.net/282f/f/2010/051/7/9/pokedex_template_by_highlighterjuice.png" id="background3"/>
</div>

<div id="list">
	<ul id="total">

	</ul>
</div>

<script>
	$(document).ready(function(){
			

			$.ajax({
			    type: "GET",
			    url: 'http://localhost:3000/info',
			    dataType: "json",
			    async: true,
			    success: function(data){

			      for(i=0; i<data.names.length; i++){
			      	var pokemon = data.names[i];
			      	pokemon = pokemon.toLowerCase();
			      	var link = 'http://pokeapi.co/api/v2/pokemon/' + pokemon + '/';

			      	$.ajax({
					    type: "GET",
					    url: link,
					    dataType: "json",
					    async: true,
					    success: function(info) {

					     //console.log(info.sprites.front_default);

					     $('#total').append('<img src="' + info.sprites.front_default + '" class="sprite" />');
			    		}
			      	
			      });

			    }

			    }

			  })
		
	$('li').on('click', function(){
		console.log(this);
	})
})
</script>