
<img src="http://orig07.deviantart.net/282f/f/2010/051/7/9/pokedex_template_by_highlighterjuice.png" id="background3" />
<img src="#" id="pic3" style="position:relative; width:30vw; height:30vw; top:5vw; left:5vw;" />
<p style="position:relative; top:18vh; left:8vw; width: 80vw;" id="text"></p>
<p style="position:relative; bottom:12vh; left:70vw; width: 20vw;" id="weight"></p>
<p style="position:relative; bottom:26vh; left:70vw; width: 20vw;" id="height"></p>
<p style="position:relative; bottom:43vh; left:60vw; width: 20vw;" id="category"></p>
<p style="position:relative; bottom:48vh; left:80vw; width: 20vw;" id="ability"></p>
<p style="position:relative; bottom:64vh; left:50vw; width: 20vw;" id="number"></p>
<button type="button" style="position:relative; bottom:49vh; left:43vw;" id="favorite">Pokemon List!</button>
<button type="button" style="position:relative; bottom:54vh; left:35vw;" id="home">Home Page!</button>

<form id="login-form" class="modal">
	<h1 style="color:red">This is a list of the pokemon in your pokedex!</h1>
 	<ul id="total" style="height:30vh; overflow: auto;"></ul>
</form>

<script>
	$(document).ready(function(){

			new Audio('pokecenter.mp3').play();

			$('#home').on('click', function(){
				location.href = '/';
			})

			$('#favorite').on('click', function(){
				$('#login-form').modal();
			})
			
			$('#login-form').modal();

			var list = [];

			$.ajax({
			    type: "GET",
			    url: '/info',
			    dataType: "json",
			    async: true,
			    success: function(data){

			    for(i=0; i<data.names.length; i++){
			      	var pokemon = data.names[i];
			      	pokemon = pokemon.toLowerCase();
			      	list.push(pokemon);

			      	if(list.length%18 == 0){
			      		$('#total').append('<li></br></li>');
			      	}
			      	
			      	$('#total').append('<li><a href="#" name="' + pokemon + '"' + '>' + pokemon + '</a></li>');
					
			    }
			    	$('a').on('click', function(){
			    		$('#pic3').show();
			    		$.modal.close();
						//console.log(this.name);
						var pokemon = this.name;

						$.post('pokemon', {pokemon: pokemon}, function(data){
							console.log(data);
							$('#pic3').attr('src', data.link);
							$('#text').html(data.text);
							$('#weight').html(data.weight);
							$('#height').html(data.height);
							$('#category').html('Category: ' + data.category);
							$('#ability').html('Ability: ' + data.ability);
							$('#number').html(pokemon + ' ' + data.id);
						})
					})
			    }

			  })
	
})
</script>