<div>
	<img src="http://orig07.deviantart.net/282f/f/2010/051/7/9/pokedex_template_by_highlighterjuice.png" id="background3"/>
</div>

<div id="list">
	<ul id="total">

	</ul>
</div>

<script>
	$(document).ready(function(){
			
			var link = 'http://www.pokemon.com/us/pokedex/';
			var list = [];

			$.ajax({
			    type: "GET",
			    url: 'http://localhost:3000/info',
			    dataType: "json",
			    async: true,
			    success: function(data){

			    for(i=0; i<data.names.length; i++){
			      	var pokemon = data.names[i];
			      	pokemon = pokemon.toLowerCase();
			      	list.push(pokemon);

			      	if(list.length%18 == 0){
			      		$('#total').append('<li></br></li>');
			      	}
			      	
			      	$('#total').append('<li><a href="#" name="' + pokemon + '"' + '>' + pokemon + '</a></li>');
					
			    }
			    	$('a').on('click', function(){
						//console.log(this.name);
						var website = (link + this.name);
						location.href = website;
					})
			    }

			  })
	
})
</script>